body{
    text-align: center;
}
.Box{
    height:280px;
    width:600px;
    border: 2px solid black;
    margin: auto;
    margin-top:25px ;
    box-shadow: 0 0 10px grey;
}
.btn{
    padding:10px;
    margin:25px;
    border-radius: 20px;
    font-size: 20px;
    cursor:pointer;
    box-shadow: 0 0 5px grey;
   
}


